{% extends "base.html.twig" %}

{% block title %}Stiri{% endblock %}

{% block body %}

{% if stire is defined %}
    <div style = "border: 1px solid #000; width: 700px; word-break:break-all;">
    <h2>{{ stire.titlu }}</h2>
    <h3>{{ stire.text }}</h3>
    <h5>{{ stire.autor }}</h5>
    </div>
{% else %}
    <p>Ceva s-a intamplat... :/</p>
    {% endif %}
{% endblock %}