{% extends "base.html.twig" %}

{% block title %}Login!{% endblock %}

{% block body %}
    <style>.gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }</style>
<form method="POST" action="{{ path('app_check_account')}}">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">
                                {% if error is defined and error == 1%}
                                    <div class="alert alert-danger" role="alert">
                                        Verificati din nou numele si parola
                                    </div>
                                {% endif %}
                                {% if error is defined and error == 2%}
                                    <div class="alert alert-danger" role="alert">
                                        Ati gresit captcha ul
                                    </div>
                                {% endif %}
                                {% if error is defined and error == 3%}
                                    <div class="alert alert-danger" role="alert">
                                    Pentru a primi parola, este necesar sa introduceti mail ul.
                                </div>
                                {% endif %}

                                {% if error is defined and error ==4%}
                                    <div class="alert alert-success" role="alert">
                                        Veti primi in scurt timp un mail cu parola
                                    </div>
                                {% endif %}

                                {% if error is defined and error ==5%}
                                    <div class="alert alert-danger" role="alert">
                                        Nu a fost gasit acest mail in baza de date.
                                    </div>
                                {% endif %}
                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Please enter your username and password!</p>

                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="typeEmailX" name="typeEmailX" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Email</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="typePasswordX" name="typePasswordX" class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Password</label>
                                </div>
                                {% if incercare is defined and incercare % 3 == 0 %}
                                <img src="{{ asset("Captcha.php") }}" width = "400px">

                                <div class="form-outline form-white mb-4">
                                    <input id="captcha" name="captcha" class="form-control form-control-lg" />
                                    <label class="form-label" for="captcha">Captcha</label>
                                </div>
                                {% endif %}
                                <button class="btn btn-outline-light btn-lg px-5" type="submit" name="check" value = "1">Forgot password?</button><br>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit" name="Login" value="0">Login</button>

                            </div>

                            <div>
                                <p class="mb-0">Don't have an account? <a href="{{path('app_signup')}}" class="text-white-50 fw-bold">Sign Up</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock %}