{% extends "base.html.twig" %}

{% block title %}Singup!{% endblock %}

{% block body %}
    <style>.gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }</style>
    <form method="POST" action="{{ path('app_check_account')}}">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Sign up</h2>
                                <p class="text-white-50 mb-5">Please enter your information!</p>
                                {% if mesaj != ""%}
                                    <div class="alert alert-danger" role="alert">
                                        {{mesaj}}
                                    </div>
                                {% endif %}

                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="typeEmailX" name="typeEmailX" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Email</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="name" id="typeNameX" name="typeNameX" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeNameX">Nume</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="typePasswordX" name="typePasswordX" class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Password</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="typeRePasswordX" name="typeRePasswordX" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeRePasswordX">Reintroduceti parola</label>
                                </div>
                                {% if rol is defined and rol == 2 %}
                                <div class="form-outline form-white mb-4">
                                    <select id="rol" name="rol" class="form-control form-control-lg">
                                        <option value="0">Utilizator</option>
                                        <option value="1">Autor</option>
                                        <option value="2">Admin</option>
                                    </select>
                                    <label class="form-label" for="rol">Reintroduceti parola</label>
                                </div>
                                {% endif %}
                                <button class="btn btn-outline-light btn-lg px-5" type="submit" name="Signup" value="1">Signup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </form>
{% endblock %}